(!) LinkedList<T>() – Инициализирует новый экземпляр пустого класса LinkedList<T>

(!) Count – Получает число узлов, которое в действительности хранится в LinkedList<T>.
(!) First – Получает первый узел объекта LinkedList<T>.
(!) Last – Получает последний узел объекта LinkedList<T>.

Методы:
(!) AddAfter(LinkedListNode<T>, T) – Добавляет новый узел, содержащий заданное значение, после заданного существующего узла в LinkedList<T>.
(!) AddBefore(LinkedListNode<T>, T) – Добавляет новый узел, содержащий заданное значение, перед заданным существующим узлом в LinkedList<T>.
(!) AddFirst(T) – Добавляет новый узел, содержащий заданное значение, в начало LinkedList<T>.
(!) AddLast(T) – Добавляет новый узел, содержащий заданное значение, в конец LinkedList<T>.
(!) Clear()         – Удаляет все узлы из LinkedList<T>.
(!) Contains(T) – Определяет, принадлежит ли значение объекту LinkedList<T>.
(!) Equals(Object) – Определяет, равен ли указанный объект текущему объекту. (Унаследовано от Object)
(!) Find(T) – Находит первый узел, содержащий указанное значение.
(!) FindLast(T) – Находит последний узел, содержащий указанное значение.
(!) Remove(T) – Удаляет первое вхождение заданного значения из LinkedList<T>.
(!) RemoveFirst()        – Удаляет узел в начале LinkedList<T>.
(!) RemoveLast()        – Удаляет узел в конце LinkedList<T>.

Методы расширения:
(!)Any<TSource>(IEnumerable<TSource>) – Проверяет, содержит ли последовательность какие-либо элементы.
(!)Count<TSource>(IEnumerable<TSource>) – Возвращает количество элементов в последовательности.
(!)ElementAt<TSource>(IEnumerable<TSource>, Int32) – Возвращает элемент по указанному индексу в последовательности.
(!)ElementAtOrDefault<TSource>(IEnumerable<TSource>, Int32) – Возвращает элемент последовательности по указанному индексу или значение по умолчанию, если индекс вне допустимого диапазона.
(!)First<TSource>(IEnumerable<TSource>) – Возвращает первый элемент последовательности.
(!)Max<TSource>(IEnumerable<TSource>) – Возвращает максимальное значение, содержащееся в универсальной последовательности.
(!)Min<TSource>(IEnumerable<TSource>) – Возвращает минимальное значение, содержащееся в универсальной последовательности.
(!)Reverse<TSource>(IEnumerable<TSource>) – Изменяет порядок элементов последовательности на противоположный.